@import "icon-font.css"

@font-face
  font-family Raleway-ExtraBold
  src url(../fonts/Raleway-Extrabold.woff) format('woff')

@font-face
  font-family Raleway-Medium
  src url(../fonts/Raleway-Medium.woff) format('woff')