// ЦВЕТА
blackColor  = #383838
mainColor   = #00a99d
whiteColor  = #e4e4e4
grayColor   = #dedede
whiteBG     = #f9f9f9


// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
titleFont = Raleway-ExtraBold, sans-serif
mainFont  = Raleway-Medium, sans-serif