section(style='background-image: url("img/backgrounds/home-bg.jpg")').home-section
  .container
    .home-content
      p.home-content__question WHAT ARE YOU WAITING FOR?
      h1.home-content__title LET'S BE CREATIVE!
      p.home-content__subtitle.
        <span><span>S</span>tartuprr</span>, NEXT GENERATION & HIGHLY FLEXIBLE WORDPRESS THEME
      .home-text-motivation
        p.home-text-motivation__text.
          <i class='icon-left'><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
          <span>START</span> DOING THAT
          <i class='icon-right'><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
      a(href='#site-navigation').home-content__scroll-down.scroll-down
        i.icon-arrow_carrot-down_alt2