nav.site-navigation
  .container
    a(href='#').logo.main-navigation__logo
      img(src="img/logo.png").logo__img
    ul.main-navigation
      li.main-navigation__item
        a(href='#').main-navigation__link HOME
      li.main-navigation__item
        a(href='#').main-navigation__link PORTFOLIO
      li.main-navigation__item
        a(href='#').main-navigation__link BLOG
      li.main-navigation__item
        a(href='#').main-navigation__link PAGES
      li.main-navigation__item
        a(href='#').main-navigation__link FEATURES
      li.main-navigation__item
        a(href='#').main-navigation__link MEGA MENU
      li.main-navigation__item
        a(href='#').main-navigation__link CONTACT