section.what-we-offer
  .container
    .section-heading.section-heading_lines
      h2.section-heading__title.section-heading__title_black.section-heading__title_shapes.
        <i class="icon-left"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
        WHAT WE <span>OFFER</span>
        <i class="icon-right"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
      p.section-heading__subtitle.section-heading__subtitle_gray.
        We offer our customers the best services & solutions, this is our main services list
    .what-we-offer-list
      .what-we-offer-item
        .what-we-offer-item__icon
          i.icon-icon_desktop
        h3.what-we-offer-item__title RESPONSIVE & MULTIPURPOSE
        p.what-we-offer-item__text.
          Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
        button.btn.what-we-offer-item__btn READ MORE
      .what-we-offer-item
        .what-we-offer-item__icon
          i.icon-icon_puzzle
        h3.what-we-offer-item__title EASY CUSTOMIZATION
        p.what-we-offer-item__text.
          Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
        button.btn.what-we-offer-item__btn READ MORE
      .what-we-offer-item
        .what-we-offer-item__icon
          i.icon-icon_lifesaver
        h3.what-we-offer-item__title AWESOME FRIENDLY SUPPORT
        p.what-we-offer-item__text.
          Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
        button.btn.what-we-offer-item__btn READ MORE